@(assets:Seq[Asset], ref: String = "")
@import java.text.SimpleDateFormat

 <div class="hdtickets">
 
	<table class="table table-striped">
	  <thead>
	    <tr>
	      @if(ref == "all") {	
	      	<th>Type</th>
	      }
	      @if(ref == "s2t") {
	      	<th>Speech to Text</th>
	      } else {
	      	@if(ref == "image") {
	      		<th>Preview (hover)</th>
	      	} else {
	      		<th>Preview</th>
	      	}
	      }
	      <th>Email</th>
	      <th>Comment</th>
	      <th>Date</th>
	      <th>Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	@for(asset <- assets) {
  	 	   <tr>
		    @if(ref == "all") {	
  	 	   	  <td><i class="@views.util.HelpdeskDisplayUtil.iconForAssetType(asset)"></i></td>
		    }
	  		@if(asset.assetType == "image") {
	  			<td><img src="/core/stream?aid=@asset.content&xtn=@asset.asInstanceOf[FileAsset].extension&type=image" class="hdimgzoom"/></td>
	  		} else {
	  			@if(asset.assetType == "audio") {
	  				<td><audio controls="controls"><source src="/core/stream?aid=@asset.content&xtn=@asset.asInstanceOf[FileAsset].extension&type=audio" /></audio></td>
	  			} else {
	  				@if(asset.assetType == "video") {
		  				<td><video controls="controls" width="100" height="100" class="hdimgzoom"/><source src="/core/stream?aid=@asset.content&xtn=@asset.asInstanceOf[FileAsset].extension&type=video" type="video/mp4"/></video></td>
		  			} else {
		  				<td>@asset.content.substring(0, Math.min(asset.content.length(), 37))...</td>
		  			}
	  			}
	  		}
			  	<td>@asset.email</td>
			  	<td>@asset.comment.substring(0, Math.min(asset.comment.length(), 47))...</td>
			  	<td>@{new SimpleDateFormat("MMM-dd-yyyy").format(asset.created)}</td>
			  	<td><a href="javascript:void(0)" onclick="deleteAsset('/core/asset/@asset.id')"><i class="icon-trash"></i></a></td>
		  </tr>
	  	}
		  
	  </tbody>
	</table>

</div>
 