@(message: String, crumb: String, title: String, assets: Seq[Asset], ref: String)
@import models.core.Asset

@master(crumb = crumb, title = title) {
 
    <div>
      <div class="page-header">
        <h4><i class="@views.util.HelpdeskDisplayUtil.iconForAssets(assets, ref)"></i> @message</h4>
      </div>
      
	@tickets.items(assets, ref)
	
    </div> <!-- /container -->
    
}
<script type="text/javascript">
	function deleteAsset(urlwithid) {
		$.ajax({
		    url: urlwithid,
		    type: 'DELETE',
		    success: function(result) {
		      location.reload();
		    }
		});
	}
</script>
