@(crumb: String, title: String = "HighResIo Helpldesk")(body: Html) 

<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Akshay">

	<link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("img/favicon.ico")">

    <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap_spacelab_min.css")"  type="text/css" media="screen" />
	<link href="@routes.Assets.at("css/bootstrap-responsive.min.css")" rel="stylesheet">    
	<link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-toggle-animated.css")"  type="text/css" media="screen" />

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/helpdesk.min.css")">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
        
	<script type="text/javascript" src="@routes.Assets.at("js/jquery-twitter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/helpdesk.min.js")"></script>
    
	<!-- Need bootstrap.js for tabs -->
	<script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
	<script src="@routes.Assets.at("js/bootstrap-toggle.js")"></script>
    
    </head>
    <body>


	 	@nav.parenttopnav("", "active")	

        <leftnav>
        	<div >
            <h4 class="leftnavpane"><a href="/helpdesk">Helpdesk</a></h4>
            
            <ul id="navgroups">
            	@defining(views.util.HelpdeskDisplayUtil.navigation) {items =>
            		@for((key, groupnavitems) <- items) {
            		  @views.html.nav.hdnavlist(groupnavitems)
            		}
                }
            </ul>
           </div>
        </leftnav>
        <div class="hdcontent">
        	<div class="hdcontheader">
        		@hdbreadcrumbs(crumb)
        	</div>
        	<div  class="hdcontmaterial">
        		@body
        	</div>
        	
        </div>
    </body>
 	<script type="text/javascript">
		 $(document).ready(function () {
		     $('li#grptoggleli').click(function (e) {
		         //e.preventDefault();
		         var grp = $(this).children(".groupElemns")
		         
		         if ($(grp).css("display") == "none") {
			        // handle non visible state
			        $(this).children(".grptoggleclosed").removeClass("grptoggleclosed").addClass("grptoggleopen")
		        	 $(grp).show("fast");   
		        	 
			     } else {
			        // handle visible state
			        $(this).children(".grptoggleopen").removeClass("grptoggleopen").addClass("grptoggleclosed")
			    	 $(grp).hide("fast");
			    	 
			     }
		     });
		 });
	</script>
    
</html>

